<p-toast></p-toast>
<p-card [header]="editmode ? 'Edit Product' : 'Add Product'">
  <div class="grid mb-5">
    <div class="col-12">
      <p-toolbar>
        <div class="p-toolbar-group-left"></div>
        <div class="p-toolbar-group-right">
          <p-button styleClass="p-button-success mr-3" [label]="editmode ? 'Update' : 'Create'"
            [icon]="editmode ? 'pi pi-pencil' : 'pi pi-plus'" (click)= onSubmit()>
          </p-button>
          <p-button styleClass="p-button-secondary" label="Back" icon="pi pi-arrow-circle-left" (click)="onBack()">
          </p-button>
        </div>
      </p-toolbar>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <form [formGroup]="form">
        <div class="grid">
          <div class="field col">
            <label for="Name">Name</label>

            <input formControlName="name" id="Name" type="text" pInputText />
            <small *ngIf="productForm.name.invalid && isSubmitted" class="p-error">Name is required</small>
          </div>

          <div class="field col">
            <label for="Brand">Brand</label>
            <input formControlName="brand" id="Brand" type="text" pInputText />
            <small *ngIf="productForm.brand.invalid && isSubmitted" class="p-error">Brand is required</small>
          </div>
          <div class="field col">
            <label for="Price">Price</label>
            <p-inputNumber formControlName="price" mode="decimal" inputId="price" type="number"></p-inputNumber>
            <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error">Price is required</small>
          </div>
        </div>
        <div class="grid">
          <div class="field col">
            <label for="Sex">Sex</label>
            <input formControlName="sex" id="Sex" type="text" pInputText />
            <small *ngIf="productForm.sex.invalid && isSubmitted" class="p-error">Sex is required</small>
          </div>
          <div class="field col">
            <label for="category">Category</label>
            <p-dropdown [options]="categories"
                        formControlName="category"
                         optionLabel="name"
                         optionValue="id"
                         [filter]="true"
                         filterBy="name"
                        [showClear]="true"
                        placeholder="Select a category">
            </p-dropdown>
            <small *ngIf="productForm.category.invalid && isSubmitted" class="p-error">Category is required</small>
          </div>
          <div class="field col">
            <label for="isFeatured">isFeatured</label>
            <p-inputSwitch formControlName="isFeatured" id="isFeatured"> </p-inputSwitch>

          </div>
        </div>
        <div class="grid">
          <div class="field col-12">
            <label for="description">Description</label>
            <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>
            <small *ngIf="productForm.description.invalid && isSubmitted" class="p-error">Description is
              required</small>
          </div>
          <div class="field col-12">
            <label for="name">Main Image</label>
            <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)">
            <small *ngIf="productForm.image.invalid && isSubmitted" class="p-error">Image is required</small>
            
            <div class="col-2 mt-2 pl-0">
              <img [src]="imageDisplay" alt="" style="width: 100%;">
            </div>
          </div>
          <div class="field col-12">
            <label for="name">Gallery</label>
            <input type="file" class="p-inputtext" accept="images/*" (change)="onGalleryUpload($event)" multiple>

            <div class=" col-12 mt-2 pl-0">
              <img *ngFor="let file of galleryFiles" [src]="file" alt="image not available" style="width: 15%;">
              
            </div>
          </div>



        </div>
      </form>
    </div>
  </div>
</p-card>
